<div class="pdp-add-text-directive" ng-controller="TextController">
	<div class="tab-content text">
		<div class="form-col">
			<!--
			<div class="form-group">
				<ul class="action-text">
					<li><a class="current">New text</a></li>
					<li>|</li>
					<li><a>Edit text</a></li>
				</ul>
			</div>
			-->
			<div class="form-group">
				<textarea class="form-field input-text" data-text-field="object" ng-model="text.currentText" id="pdp-textbox"  placeholder="Type your text here..."></textarea>
				<p>
					<button type="button" class="form-field" ng-click="text.addText()">{{text.addTextBtnLabel}}</button>
					<button type="button" ng-show="text.showUpdateButton == true" class="form-field" ng-click="text.updateText()">{{text.updateTextBtnLabel}}</button>
				</p>
				<div class="col-6 f-left">
					<ul class="txt-list-btn">
						<li><a ng-click="text.changeTextProperty('fontWeight')" ng-class="{active: text.fontWeight == 'bold'}" title="Bold"><span class="lnr lnr-bold"></span></a></li>
						<li><a ng-click="text.changeTextProperty('fontStyle')" ng-class="{active: text.fontStyle == 'italic'}" title="Italic"><span class="lnr lnr-italic"></span></a></li>
						<li><a ng-click="text.changeTextProperty('textDecoration', 'underline')" ng-class="{active: text.textDecoration == 'underline'}" title="Underline"><span class="lnr lnr-underline"></span></a></li>
						<li><a ng-click="text.changeTextProperty('textDecoration', 'line-through')" ng-class="{active: text.textDecoration == 'line-through'}" title="Strike Through"><span class="lnr lnr-strikethrough"></span></a></li>
					</ul>
				</div>
				<div class="col-6 f-right">
					<ul class="txt-list-btn f-right">
						<li><a ng-click="text.changeTextProperty('textAlign', 'left')" ng-class="{active: text.textAlign == 'left'}" title="Left"><span class="lnr lnr-text-align-left"></span></a></li>
						<li><a ng-click="text.changeTextProperty('textAlign', 'center')" ng-class="{active: text.textAlign == 'center'}" title="Center"><span class="lnr lnr-text-align-center"></span></a></li>
						<li><a ng-click="text.changeTextProperty('textAlign', 'right')" ng-class="{active: text.textAlign == 'right'}" title="Right"><span class="lnr lnr-text-align-right"></span></a></li>
						<li><a ng-click="text.changeTextProperty('textAlign', 'justify')" ng-class="{active: text.textAlign == 'justify'}" title="Justify"><span class="lnr lnr-text-align-justify"></span></a></li>
					</ul>
				</div>
			</div>
			<div class="form-group">
				<h3>Basic Settings</h3>
				<label for="text-2">Change Font:</label>
				<input type="text" class="text-field-readonly" data-text-field="font" name="text-2" ng-model="text.fontFamily" style="font-family: {{text.fontFamily}};" value="Arial" readonly="readonly" />
			</div>
			<div class="form-group">
				<label for="text-3">Text Color:</label>
				<input type="text" class="text-field-readonly" data-text-field="color" name="text-3" style="background-color: #000;"  readonly="readonly" />
				<ul class="color-list">
					<li ng-repeat="color in text.colorList" ng-click="text.changeTextColor(color.color_code)" ng-class="{active: text.fill == color.color_code}">
						<a title="{{color.color_name}}">
							<span style="background-color: #{{color.color_code.replace('#', '')}}; margin: 4px; padding: 4px;"></span>
						</a>
					</li>
				</ul>
				<!-- <button type="button" class="primary-button medium"><span><span class="lnr lnr-plus-circle"></span> Add Text</span></button> -->
				
			</div>
			<div class="form-group">
				<label for="text-5">Text Size: <small>(px)</small> </label>
				<input type="range" ng-model="text.fontSize" min="0" max="75" step="1" />
				<input type="number" ng-model="text.fontSize" max="100" min="0" class="small-input" data-text-field="size" placeholder="Eg 1" />
			</div>
			<!--
			<div class="form-group">
				<label for="text-6">Line Height: <small>(px)</small> </label>
				<input  type="range" ng-model="text.lineHeight" min="0" max="10" step="0.5" />
				<input type="number" ng-model="text.lineHeight" max="10" min="0" class="small-input" data-text-field="line-height" placeholder="Eg 1.5" />
			</div>-->
			<div class="form-group">
				<label for="text-2">Text Outline:</label>
				<input id="outline" ng-model="text.strokeWidth" type="range" value="0" min="0" max="5" step="0.1" />
				<input type="number" ng-model="text.strokeWidth" max="5" value="0" min="0" step="0.1" class="small-input" data-text-field="outline"   placeholder="0" />
				
				
			</div>
			<div class="form-group">
				<label for="text-3">Outline Color:</label>
				<input type="text" class="text-field-readonly" data-text-field="outlinecolor" style="background-color: #000;"  readonly="readonly" />
				<ul class="color-list">
					<li ng-repeat="color in text.colorList" ng-click="text.changeTextStroke(color.color_code)" ng-class="{active: text.stroke == color.color_code}">
						<a title="{{color.color_name}}">
							<span style="background-color: #{{color.color_code.replace('#', '')}}; margin: 4px; padding: 4px;"></span>
						</a>
					</li>
				</ul>
			</div>		
		</div>
		<div class="form-col">
			<div class="form-group">
				<h3 data-toggle="advancedSettings">Advanced Settings <span class="lnr lnr-chevron-right f-right"></span></h3>
				<div class="advanced-settings" data-toggle-content="advancedSettings">
					<div class="curves-thumbnail"><a href=""><img src="assets/media/curved.png" alt="" /></a>
						<ul class="select-curves">
							<li><a><img src="assets/media/curved.png" alt=""/></a></li>
							<li><a><img src="assets/media/bulge.png" alt=""/></a></li>
							<li><a><img src="assets/media/obulge.png" alt=""/></a></li>
							<li><a><img src="assets/media/largeToSmallTop.png" alt=""/></a></li>
							<li><a><img src="assets/media/smallToLarge.png" alt=""/></a></li>
							<li><a><img src="assets/media/normaltext.png" alt=""/></a></li>
						</ul>
					</div>
					<div class="curves-option">
						<div class="">
							<label>Small font:</label><br/>
							<input type="range" min="0" max="10" step="1" />
							<input type="number" placeholder="0" class="small-input" min="0" max="100">
						</div>
						<div class="">
							<label>Large font:</label><br/>
							<input type="range" min="0" max="10" step="1" />
							<input type="number" placeholder="0" class="small-input" min="0" max="100">
						</div>
						<div class="">
							<label><input id="pdc_ctext_reverse" type="checkbox" name="reverse"> Reverse</label>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="font-options">
		<span class="close"><span class="lnr lnr-cross"></span> Cancel</span>
		<div class="tab-content-filter clearfix">
			<div class="filter-search">
				<input type="text" placeholder="Search by tag name" />
			</div>
			<div class="filter-category">
				<select>
					<option>Font category</option>
					<option>Option 1</option>
					<option>Option 2</option>
					<option>Option 3</option>
					<option>Option 4</option>
					<option>Option 5</option>
					<option>Option 6</option>
					<option>Option 7</option>
					<option>Option 8</option>
					<option>Option 9</option>
					<option>Option 10</option>
				</select>
			</div>
			
		</div>
		<div class="tab-container clearfix">
			<div class="ajax-pagination">
				<ul>
					<li><a class="current">1</a></li>
					<li><a>2</a></li>
					<li><a>3</a></li>
					<li><a>4</a></li>
					<li><a>5</a></li>
					<li><a>6</a></li>
					<li><a>7</a></li>
				</ul>
			</div>
			<div class="filter-results">
				<ul class="font-list">
					<li ng-repeat="font in text.fontList">
						<a ng-click="text.changeFont(font.fontFamily)" style="font-family:'{{font.fontFamily}}';">{{font.displayText || font.name}}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>