a {
  font-size: 0.8rem;
}
.block-item-price {
  padding: 5px 0;
}
.block-design-template h3 {
  font-size: 0.8rem;
  font-weight: bold;
}
.block-plugins ul li a {
  line-height: 20px;
  padding: 0 12px;
}
.block-plugins ul li a span {
  font-size: 0.8rem;
}
.side-switcher {
  width: 125px;
}
.main-actions {
  width: 145px;
}
.toppage {
  padding: 5px 0 0;
}
.block-plugins {
  padding: 0;
}
.overlay-e {
  height: 175px;
}
.plugin-tab {
  bottom: auto;
  top: 35%;
}
.plugin-tab ul li a.current .tab-label {
  font-size: 0.8rem;
}
.plugin-tab ul li a {
  font-size: 0.8rem;
  padding: 0 8px;
}
.photo-tab-content.current {
  height: 205px;
}
.overlay-e::after {
  font-size: 22px;
  padding: 40% 0;
}
@media screen and (max-width:320px) and (orientation: portrait){
	.block-plugins ul li a {
	  padding: 0 10px;
	}
	.block-sidebar-right {
	  padding: 5px 0;
	}
	.block-plugins ul li a.current::after, .block-plugins ul li:hover a::after {
	  height: 55px;
	  width: 55px;
	  top:-15px;
	}
	.overlay-e {
	  height: 80px;
	}
	.plugin-tab {
	  top: 15%;
	}
	.plugin-tab ul li a {
	  padding: 0 5px;
	}
}