body{background:#F5F7F6;}
a{color:#00a1f0;text-decoration:none;font-size: 0.9rem;outline: medium none;cursor:pointer;}
button, select, input, label{outline: medium none!important;}
canvas {    border: 1px solid #ccc;}
ul,ol{margin:0px;padding:0px;list-style:none;}
ul li {
  display: inline-block;
}
.basic-inline-list{}
.basic-inline-list li{}
.basic-inline-list li a:hover {
    color: #00a1f0;
    text-decoration: underline;
}
.basic-inline-list li a {
    color: #999999;
    font-size: 0.8rem;
    padding: 0 10px 0 0px;;
}
.basic-inline-list li a.active{color:#00a1f0;}
.clearfix{clear:both!important;line-height:normal;}
.align-center{margin:0px auto!important; text-align:center!important;}
[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.5s 0.5s ease; 
  opacity: 0;
}
select > option {
  border: medium none;
  display: block;
  font-weight: normal;
  height: 25px;
  line-height: 25px !important;
  position: relative;
}
input.small-input{width:50px!important;}
p {
  color: #999999;
  font-size: 0.8rem;
  line-height: 20px;
  text-align: center;
}
/* Form field style */
.tab-content {
  display: table;
  padding: 0;
  width:100%;
}
.form-col {
  display: block;
  margin: 1%;
  width: 98%;
}
.form-group {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 100%;
}
.form-group h3 {
  border-bottom: 1px solid #cccccc;
  color: #333333;
  display: block;
  font-size: 12px;
  font-weight: bold;
  line-height: 30px;
  margin: 10px 0;
  text-align: left;
  cursor:pointer;
}
.form-group h3 span {
  line-height: 30px;
}
.form-group label {
  display: inline-block;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  min-width: 100px;
  padding: 0;
}
.form-group label > small {
  color: #999999;
  font-size: 10px;
  padding: 0 3px;
}
.form-group textarea {
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: inline-block;
  height: 45px;
  resize: vertical;
  width: 100%;
}
.form-group textarea:focus {
  border-color: #000;
}
.form-group select {
  font-size: 12px;
  height: 25px;
  line-height: 25px;
  min-width: 120px;
  padding: 0 15px;
}
.form-group input {
  display: inline-block;
  font-size: 12px;
  height: 22px;
  line-height: 22px;
  padding: 0;
  position: relative;
  width: auto;
}
.form-group .form-field{}
.form-group .col-6 {
  display: inline-block;
  text-align: left;
  width: 49.5%;
  position:relative;
}

/* Buttons CSS */
.primary-button {
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
	-o-border-radius:2px;
	border-radius:2px;
	border-style:solid;
	cursor:pointer;
	line-height:1;
	border-width:1px;
	display:inline-block;
	text-decoration:none;
	border:1px solid #00A1F0;
	color:#ffffff !important;
	background-color:#41c1ff;
	*zoom:1;
	filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#FF41C1FF',endColorstr='#FF00ABFF');
	background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQxYzFmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwYWJmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background-size:100%;
	background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#41c1ff),color-stop(100%,#00abff));
	background-image:-webkit-linear-gradient(top,#41c1ff 0%,#00abff 100%);
	background-image:-moz-linear-gradient(top,#41c1ff 0%,#00abff 100%);
	background-image:-o-linear-gradient(top,#41c1ff 0%,#00abff 100%);
	background-image:linear-gradient(top,#41c1ff 0%,#00abff 100%);
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.2);
	-moz-box-shadow:0 1px 2px rgba(0,0,0,0.2);
	box-shadow:0 1px 2px rgba(0,0,0,0.2);
	-webkit-border-radius:0.3em;
	-moz-border-radius:0.3em;
	-ms-border-radius:0.3em;
	-o-border-radius:0.3em;
	border-radius:0.3em;
	text-shadow:0 1px 1px #248AD0;
	font-family:'museosans',sans-serif;
	font-weight:bold;
	padding:9px;
	font-size:12px;
	text-align:center
}
.primary-button:hover {
	color:#fff;
	background-color:#009AE6;
	*zoom:1;
	filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#FF33BCFF',endColorstr='#FF009AE6');
	background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMzYmNmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMzYmNmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background-size:100%;
	background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#33bcff),color-stop(100%,#33bcff));
	background-image:-webkit-linear-gradient(top,#33bcff 0%,#33bcff 100%);
	background-image:-moz-linear-gradient(top,#33bcff 0%,#33bcff 100%);
	background-image:-o-linear-gradient(top,#33bcff 0%,#33bcff 100%);
	background-image:linear-gradient(top,#33bcff 0%,#33bcff 100%)
}
.primary-button:active {
	color:#fff;
	background-color:#33BCFF;
	*zoom:1;
	filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#FF00ABFF',endColorstr='#FF009AE6');
	background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYWJmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMzYmNmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background-size:100%;
	background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#00abff),color-stop(100%,#33bcff));
	background-image:-webkit-linear-gradient(top,#00abff 0%,#33bcff 100%);
	background-image:-moz-linear-gradient(top,#00abff 0%,#33bcff 100%);
	background-image:-o-linear-gradient(top,#00abff 0%,#33bcff 100%);
	background-image:linear-gradient(top,#00abff 0%,#33bcff 100%)
}
.primary-button.disabled {
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
	opacity: 0.6
}
.primary-button.small {
  padding: 5px;
}
.primary-button.thin {
  font-size: 10px;
  padding: 3px;
}
.full {
  display: block;
  margin: 8px;
  width: auto;
}
.primary-button.grey {
  background-color: #cccccc;
  background-image: -moz-linear-gradient(center top , #cccccc 0%, #c5c5c5 100%);
  border-color: #999999;
  text-shadow: 0 1px 1px #666666;
}
.primary-button.greyplus{
	  background-color: #666;
	  background-image: -moz-linear-gradient(center top , #666 0%, #656565 100%);
	  border-color: #666;
	  text-shadow: 0 1px 1px #333;
}
/* Float:left-right-none */
.f-left{float:left!important;}
.f-right{float:right!important;}
.f-none{float:none!important;}
/*//TOP PAGE  */
.toppage {
  background: #ffffff none repeat scroll 0 0;
  border-top: 3px solid #2ea8e6;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  display: inline-block;
  left: 0;
  margin-bottom: 5px;
  padding: 5px 0;
  position: relative;
  text-align: left;
  top: 0;
  width: 100%;
  z-index: 100;
}
.sitelogo {
  margin-left: 5px;
  max-width: 400px;
}
.sitelogo img {
  max-width: 100%;
}
.help-info{margin-right:5px;}
.help {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  width: auto;
}
.help > li {
  display: inline-block;
  line-height: 45px;
  padding: 0 10px;
  vertical-align: middle;
}
.top-menu-item {
  margin: 0;
  padding: 0;
}
.top-menu-item li:first-child {margin-left:0px;}
.top-menu-item li {
  display: inline-block;
  line-height: 40px;
  margin-left: 18px;
  position: relative;
}
.top-menu-item li a {
  color: #00a1f0;
  font-size: 0.8rem;
  font-weight: normal;
  line-height: 30px;
  text-decoration: none;
}
.tooltip-outline {
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #b6bcbf;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.14);
  display: none;
  position: absolute;
  text-align: center;
  top: 100%;
  width: 100%;
  z-index: 99;
}
.tooltip-outline.expanded{display:block;}
.tooptip-outline a{}
.tooltip-outline strong {
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
}
.tooltip-pointer::after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #999999;
    border-style: solid;
    border-width: 7px;
    content: "";
    height: 0;
    position: absolute;
    top: 0;
    width: 0;
}
.tooltip-pointer::before {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #ffffff;
  border-style: solid;
  border-width: 7px;
  content: "";
  height: 0;
  position: absolute;
  top: 1px;
  width: 0;
  z-index: 99;
}
.tooltip-pointer {
    background: #ff0000 none repeat scroll 0 0;
    border: 0 none;
    height: 0;
    left: auto;
    position: absolute;
    right: auto;
    top: -13px;
    width: 0;
}
/* //END TOPPAGE */
/* //TOOLBAR */
.toolbar {
  background: #ffffff none repeat scroll 0 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  display: inline-block;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 2;
}
.mediumdeviceonly{display:none;}
.largedeviceonly {
  display: inline-block;
  padding: 0 5px;
  position: relative;
}
.nav {
  display: inline-block;
}
.nav li {
  display: inline-block;
  line-height: 45px;
  padding: 0;
  position: relative;
}
.nav li:hover > a{
	color: #00a1f0;
	cursor:pointer;
}
.nav a {
  color: #000000;
  display: block;
  padding: 0 25px 0 5px;
  vertical-align: middle;
}
.sub-nav {
  background: #ffffff none repeat scroll 0 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  display: none;
  left: 0;
  padding: 0;
  position: absolute;
  top: 45px;
  width: 200px;
}
.nav li:hover .sub-nav{display:block;}
.nav .sub-nav > li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  padding: 0 15px;
}
.sub-nav a {
  font-size: 0.8rem;
}

.nav-toggle {cursor:pointer;}
.nav-toggle span {
  display: block;
  font-size: 20px;
  line-height: 45px;
  padding: 0 15px 0 5px;
}

.side-down {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  line-height: 45px !important;
  padding: 0 5px;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  width: 95%;
  z-index: 98;
}
.side-down.small{/* width:auto; */}
/* Main actions such as Quote & Buy, Save design, Share design ..etc */
.main-actions {
  display: inline-block;
  padding: 0 5px;
  position: relative;
}
.main-actions ul {
  line-height: 45px;
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.main-actions ul li{display:inline-block; padding:0 15px;}
.action-down { 
	/*  Visible on smartphone  */
	display:none;
}
 
.main-actions ul > li a{color:#000;} 
.main-actions ul > li.current a,.main-actions ul > li:hover a{color:#00a1f0;}
.main-actions:after{}

/* //END Toolbar */
/* //MAIN VIEW (NG-VIEW) */
.mainContent {
  display: table;
  padding: 0;
  position: relative;
  z-index: 0;
  width:100%;
}
.mainview {
  background: rgba(0, 0, 0, 0) url("../images/loading-logo.png") no-repeat scroll center center;
  display: block;
  float: left;
  width: 74%;
  -webkit-overflow-scrolling:touch;
  position:relative;
}
.designarea {
  margin: 0 auto;
  text-align: center;
  display: table;
}
.toolbox {
  background: #ffffff none repeat scroll 0 0;
  border-color: rgba(0, 0, 0, 0) #cccccc #cccccc;
  border-image: none;
  border-style: dotted;
  border-width: 1px;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 0 auto 5px;
  padding: 0;
  position: relative;
  text-align: center;
}
/* Toolbox transform buttons*/
.canvas-btn {
    float: left;
}
.object-btn {
  float: right;
}
.toolbox-buttons {
    display: inline;
    margin: 0 auto;
}
.toolbox-buttons li {
  display: inline-block;
  padding: 0;
}

.toolbox-buttons li a:hover {
  background: rgba(0, 0, 0, 0.15) none repeat scroll 0 0;
  border-color: rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}
.toolbox-buttons li a {
  border: 1px dotted rgba(0, 0, 0, 0);
  cursor: pointer;
  display: inline-block;
  line-height: 30px;
  padding: 0 8px;
  position: relative;
  vertical-align: middle;
}
.toolbox-buttons li a.disabled img { opacity: 0.3;}
.toolbox-buttons li a.disabled {
  pointer-events: none;
}
.toolbox-buttons li a img {
  width: 18px;
}
.toolbox-buttons li a span {
  display: none;
}
/* Tooltip */
.toolbox-buttons li:hover a.disabled::after {background:#ccc;color:#666;}
.toolbox-buttons li:hover a::after {display:block;}
.toolbox-buttons li a::after {
    background: #00a1f0 none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    color: #ffffff;
    content: attr(title);
    display: none;
    font-size: 10px;
    font-weight: bold;
    left: 0;
    line-height: 20px;
    padding: 0 5px;
    position: absolute;
    right: auto;
    text-align: center;
    top: 32px;
    white-space: nowrap;
    z-index: 999;
}
/* //END Main View */
/* DATA AREA SETTING */
/* //Block Left */
.sidebar {
  min-height: 100%;
  padding: 0px;
  top: 0;
  z-index: 999;
}
.sidebar.left{float:left;margin-right:5px;}
.sidebar.left::before{left:0px;}
.sidebar.right{float:right;margin-left:5px;}
.sidebar.right::before{right:0px;}
.sidebar::before {
  background: #ffffff none repeat scroll 0 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  content: "";
  height: 100%;
  padding: 0;
  position: absolute;
}
.sidebar, .sidebar::before{width: 25%;}
/* //Block Bottom */
.sidebar-bottom {
  background: #f2ebd9 none repeat scroll 0 0;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  bottom: 0;
  display: block;
  font-size: 12px;
  left: 0;
  line-height: 35px;
  padding-right: 20px;
  position: fixed;
  right: 0;
  text-align: center;
  z-index: 9999;
}
.sidebar-content{padding:0px;position:relative;display:block;}
.data-tabs {
  background: #f2ebd9 none repeat scroll 0 0;
  display: block;
  overflow: hidden;
}
.data-tabs > li {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 24.5%;
}
.data-tabs a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #ffffff;
  border-image: none;
  border-style: solid;
  border-width: 1px;
  display: block;
  font-size: 0.7rem;
  font-weight: normal;
  line-height: 15px;
  margin: 0;
  padding: 6px 0px;
  text-align: center;
  color:#00a1f0;
}
.data-tabs a.active {
  background: #ffffff none repeat scroll 0 0;
  border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0);
  border-image: none;
  border-style: solid;
  border-width: 1px;
  color: #ff8989;
}
.data-tabs img {
  display: block;
  margin: 0 auto;
  width: 18px;
}
.active[data-tab-content] {
    display: block;
}
[data-tab-content] {
    display: none;
    padding: 10px 5px 45px;
}
[data-change] {
  cursor: pointer;
  font-size: 10px;
  font-weight: normal;
  margin: 0 5px;
}
[data-change]:hover {
  border-bottom: 1px dotted #ff8989;
}
/* Swap product item */
.product{padding:3px;background:rgba(0,0,0,0.05); }
.product:nth-child(2n){background:rgba(0,0,0,0.1);}
.product .product-image{float:left;margin: 0 5px 0 0;}
.product > div{display:block;}
.product .product-name h5{margin: 0 0 10px 0;}
.product [data-add] {
  cursor: pointer;
  float: right;
  padding: 5px 10px;
}
.product-description p {
  text-align: left;
}
.product .product-options, .product .product-description {
  font-size: 12px;
  padding: 8px 0 0;
}
.add-more{width:100%; text-align:center; padding-top: 15px;}
.close {
  color: #ffa500;
  cursor: pointer;
  float: right;
  font-size: 0.6rem;
  line-height: 20px;
  text-transform: uppercase;
}
/* END DATA AREA */

/* Block Item price: subtotal price for an customized design */
.block-item-price {
  font-size: 12px;
  line-height: 30px;
  padding: 15px 0;
  text-align: center;
}
/* Block Design Template Library */
.block-design-template{}
.block-design-template h3 {
  background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
  border-bottom: 1px solid #cccccc;
  font-size: 1rem;
  font-weight: normal;
  line-height: 40px;
  text-align: center;
}
.block-design-template .block-content {
  display: block;
  position: relative;
}
.template-listing {
  display: block;
  margin: 5px 0 0;
  width: 100%;
  position:relative;
}
.template-listing ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.template-listing ul li {
  display: inline-block;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 5px;
  padding: 0;
  position: relative;
}
.template-listing ul li a {
  border: 2px solid rgba(0, 0, 0, 0);
  display: block;
  position: relative;
}
.template-listing ul li a:hover,.template-listing ul li.current a {
  border: 2px solid #00a1f0;
  cursor: pointer;
}
.template-listing ul li a .item-price {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  color: #000000;
  cursor: pointer;
  font-size: 0.6rem;
  left: 3px;
  padding: 0 5px;
  position: absolute;
  top: 3px;
}
.template-listing ul li:hover{}
.template-listing ul li img {
  width: 90px;
}
.instant-search {
  background: rgba(0, 0, 0, 0) url("../images/lnr-magnifier.svg") no-repeat scroll 3px center / 10% auto;
  display: block;
  font-size: 12px;
  line-height: 25px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 90%;
}


.block-plugins {
  padding: 0 5px;
}
.block-plugins ul {
  display: inline-block;
}
.block-plugins ul li {
  display: inline-block;
  line-height: 45px;
}
.block-plugins ul li a {
  cursor: pointer;
  display: block;
  line-height: 25px;
  padding: 0 15px;
  position: relative;
  text-align: center;
}
.block-plugins ul li a img{}
.block-plugins ul li a span {
  color: #000000;
  display: block;
  font-size: 1rem;
  font-weight: lighter;
  line-height: 20px;
  width: 100%;
}
.block-plugins ul li a.current::after,.block-plugins ul li:hover a::after {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 100%;
  box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.15);
  content: "";
  height: 65px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: -20px;
  width: 65px;
  z-index: -1;
}
.block-plugins ul li a.current,.block-plugins ul li a:hover{}
.block-plugins ul li.current a.current span, .block-plugins ul li a:hover span {
  color: #00a1f0;
}
/* //Plugin Content */
.plugin-content {
  background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
  bottom: 0;
  display: none;
  left: 0;
  padding: 15px 5px;
  position: fixed;
  right: 0;
  top: 0px;
  z-index: 999;
}
.plugin-content.current {
  display: block;
}
.plugin-content-popout {
  bottom: 8px;
  left: 8px;
  position: absolute;
  right: 8px;
  top: 8px;
  padding:0px;
}
.overlay-e {
  display: block;
  overflow: hidden;
  width: 100%;
}
.overlay-e::after {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  bottom: 0;
  color: rgba(255, 255, 255, 0.3);
  content: "Click to hide";
  cursor: pointer;
  font-size: 35px;
  font-weight: lighter;
  left: 0;
  padding: 25% 0;
  position: absolute;
  right: auto;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  width: 100%;
}
 
.preview {
  background: #333333 url("../images/preview.png") no-repeat scroll center top / cover  ;
  display: block;
  left: 0;
  padding: 8px;
  position: relative;
  right: 0;
  top: 0;
 
}
 
.preview-title {
  clear: both;
  position: relative;
  width: 100%;
}
.preview-title h3 {
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}
.preview-title span.close {
  cursor: pointer;
  line-height: 20px;
  padding: 0 10px;
  position: absolute;
  right: 0;
  top: 0;
}
.preview-object{}
.preview-object .object {
  text-align: center;
  width: 100%;
}
.preview-object .object img {
  max-height: 150px;
  max-width: 100%;
}
.object-actions {
  display: block;
  text-align: center;
}
/* Upload plugin */
.user-photo {
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
}
.upload-prv{}	
.plugin-tab {
  bottom: 90px;
  position: absolute;
  width:100%;
  top:auto;
}
.plugin-tab > ul {
  background: #00afd8 none repeat scroll 0 0;
  display: block;
  padding: 0;
  text-align: center;
  width: 100%;
}
.plugin-tab > ul li {
  display: inline-block;
  padding: 0;
  line-height: 45px;
}
.plugin-tab > ul li a {
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-size: 14px;
  line-height: 45px;
  padding: 0px 15px;
  position:relative;
}
.plugin-tab > ul li a img{
  vertical-align: text-bottom;
  width: 20px;
}
.plugin-tab > ul li a.current,.plugin-tab ul li:hover a{
	
}
.plugin-tab > ul li a.current::after {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #ffffff;
  border-image: none;
  border-style: solid;
  border-width: 6px;
  bottom: 0px;
  content: "";
  display: block;
  height: 0;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  text-align: center;
  width: 0;
}
.plugin-tab > ul li a .tab-label {
  display: inline-block;
  font-size: 14px;
  line-height: 25px;
  text-indent: -9999px;
  text-transform: uppercase;
}
.plugin-tab > ul li a.current .tab-label {
  text-indent: 0;
  /* transition: all 0.1s ease 0s; */
}
.photo-tab-content {
  display: block;
  height: 0;
  opacity: 0;
  /* overflow: hidden; */
  transition: opacity 0.3s ease 0s;
  width: 100%;
  background:#fff;
  position:relative;
}
.photo-tab-content.current {
  height: 100%;
  opacity: 1;
  transition: opacity 0.3s ease 0s;
}

/* Tab Content Filter on main action (image, text, shapes, layout) */
.tab-content-filter {
  display: block;
  padding: 5px;
  position: relative;
}
.tab-content-filter > img {
  float: left;
  height: 46px;
  margin: 1px;
  width: 46px;
}
.filter-category {
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: block;
  float: left;
  margin: 15px 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.filter-category::after {
  background: #ffffff none repeat scroll 0 0;
  content: "\E874";
  cursor: pointer;
  font-family: "Linearicons-Free";
  height: 35px;
  line-height: 35px;
  pointer-events: none;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 35px;
}
 
.filter-category select {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9rem;
  font-weight: normal;
  height: 35px;
  line-height: 35px;
  margin-left: 0;
  padding: 0;
  position: relative;
  transition: all 0.2s ease 0s;
  width: 100%;
}
.filter-category select:focus,.filter-category select:hover {
  
}
.filter-search {
  display: block;
  float: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.filter-search input {
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: block;
  font-size: 0.9rem;
  font-style: italic;
  height: 30px;
  line-height: 30px;
  margin-left: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}
/* Tab Container of main actions tab content */
.tab-container{width:100%;position:relative;}
/* Ajax pagination if more than default per page */
.ajax-pagination {
  display: block;
  margin: 5px 0;
  padding: 5px 0;
}
.ajax-pagination ul {
  display: block;
  margin: 0;
  text-align: center!important;
}
.ajax-pagination ul li {
  display: inline-block;
  margin: 0px;
  text-align: center;
}
.ajax-pagination ul li a {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: block;
  line-height: 20px;
  padding: 0 5px;
}
.ajax-pagination ul li a:hover,
.ajax-pagination ul li a.current {
  border-color: #00afd8;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  color: #00afd8;
}

.filter-results {
  /* max-height: 290px; */
  width:100%;
}
.filter-results ul{width:100%;}
.filter-results a{}
.filter-results {
  display: block;
  margin: 5px 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  width: 100%;
}
.filter-results ul {
  display: block;
  list-style: outside none none;
  margin: 0;
  padding: 0;
  text-align: left;
}
.filter-results ul li {
  display: inline-block;
  margin: 0 2px;
  padding: 0;
  position: relative;
}
.filter-results ul li a {
  border: 2px solid rgba(0, 0, 0, 0);
  display: block;
  position: relative;
}
.filter-results ul li a:hover,.filter-results ul li.current a {
  border: 2px solid #00a1f0;
  cursor: pointer;
}
.filter-results ul li a .item-price {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  color: #000000;
  cursor: pointer;
  font-size: 0.6rem;
  left: 3px;
  padding: 0 5px;
  position: absolute;
  top: 3px;
}
.filter-results ul li:hover{}

[data-image-section] .action-text li {
  color: #333333;
  display: inline-block;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
}
[data-image-section="actions"],[data-gallery="items"]{
	display:none;
}
.catalog-search {
  margin: 10px 0;
  display:block;
}
.catalog-search li {
  display: inline-block;
  padding: 0;
  width: 32%;
}
.catalog-search a {
  cursor: pointer;
  display: block;
  font-size: 0.7rem;
  line-height: 30px;
  transition: all 0.2s ease 0s;
  color:#000;
}
.catalog-search a:hover {
  color: #ffa500;
}
.catalog-search a span {
  color: #ffa500;
}
.uploadphoto label > input[type="file"]{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.uploadphoto > label {
  border: 1px solid #ccc;
  padding-right: 20px;
  padding-left: 5px;
  cursor:pointer;
}
/* TEXT TAB CONTENT (textarea, font fields) */

.txt-list-btn {
  display: inline-block;
  float: left;
  text-align: center;
}
ul.txt-list-btn li {
  display: inline;
  margin: 0;
}
ul.txt-list-btn li a {
  border: 2px solid rgba(0, 0, 0, 0);
  color: #000000;
  cursor: pointer;
  display: inline-block;
  height: 22px;
  line-height: 30px;
  position: relative;
  transition: all 0.2s ease 0s;
  width: 22px;
}
ul.txt-list-btn li a::after {
  background: #ffa500 none repeat scroll 0 0;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  color: #000000;
  content: attr(title);
  font-size: 10px;
  left: -2px;
  line-height: 20px;
  opacity: 0;
  padding: 0 5px;
  pointer-events: none;
  position: absolute;
  top: 27px;
  z-index: 999;
}
ul.txt-list-btn li a::before {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #ffa500;
  border-image: none;
  border-style: solid;
  border-width: 5px;
  bottom: -6px;
  content: "";
  height: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  width: 0;
}
ul.txt-list-btn li a:hover::after, ul.txt-list-btn li a:hover::before {
  opacity: 1;
}
ul.txt-list-btn li a:hover {
  border-color: #ffa500;
  color: #ffa500;
}
.font-options.expanded{display:block;}
.font-options{
	display:none;
	width:100%;
	margin: 0;
	padding: 0;
}
.font-list{
	display: block;
	line-height: 30px;
	list-style: outside none none;
	width: 100%;
}
.font-list li{
	background:rgba(0, 0, 0, 0.05) none repeat scroll 0 0;
	text-align: center;
	width: 100%;	
	cursor:pointer;
}
.font-list li:nth-child(2n){background:rgba(0, 0, 0, 0.1);}
.font-list li.current a, .font-list li:hover a{color:#00afd8;}
.font-list li a{color:#000;font-size:1rem;}
.font-options h5 {
  border-bottom: 1px solid #ffa500;
  color: #ffa500;
  font-weight: normal;
  line-height: 30px;
  margin: 0 0 10px;
  padding: 0 10px;
  cursor:pointer;
}
.action-text {
  border-bottom: 1px solid #cccccc;
  display: inline-block;
  margin-bottom: 15px;
  padding-bottom: 10px;
  text-align: center;
  width: 100%;
}
.action-text li {
  display: inline;
  font-size: 0.7rem;
  font-weight: bold;
  line-height: 25px;
}
.action-text li a {
   
  cursor: pointer;
  display: inline-block;
  font-size: 0.7rem;
  font-weight: normal;
  height: 30px;
  line-height: 30px;
  padding: 0 5px;
  vertical-align: middle;
}
.action-text li a.current {
  color: #000000;
}
.font-options h5 span {
  line-height: 30px;
}
.form-group input.text-field-readonly {
  background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
  border-color: rgba(0, 0, 0, 0);
  color: #00afd8;
  cursor: pointer;
  font-size: 13px;
  padding: 0;
  text-align: center;
}
/* Curves text */
.advanced-settings{
	display:none;
}
.curves-thumbnail {
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  float: left;
  height: 80px;
  margin-right: 10px;
  padding-top: 10px;
  position: relative;
  vertical-align: middle;
  width: 90px;
}
.curves-thumbnail::after {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #ffffff;
  border-image: none;
  border-style: solid;
  border-width: 10px;
  bottom: 10px;
  content: "";
  display: block;
  height: 0;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: auto;
  width: 0;
}
.curves-thumbnail::before {
  background: #ffa500 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 30px;
  left: 0;
  position: absolute;
  width: 100%;
}
.curves-thumbnail img {
  vertical-align: text-bottom;
  width: 100%;
}
.curves-option {
  margin-left: 100px;
}
.curves-option input[type=range]{margin-top:0px; }
.curves-option > label{min-width:auto;}
.curves-option label >input{margin:0px; vertical-align:middle;}
.select-curves {
  background: #ffffff none repeat scroll 0 0;
  bottom: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  display: none;
  left: 100%;
  padding: 0;
  position: absolute;
  width: 130px;
  z-index: 999;
}
.select-curves > li {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: inline-block;
  width: 100%;
  z-index: 9999;
}
.select-curves a:hover {opacity:1;}
.select-curves a {
  display: block;
  opacity: 0.7;
}
/* Popup content */
.hidden-popup {
  left: 0;
  position: absolute;
  right: 0;
  top: 43px;
}
.nav-toolbar li {
  border-right: 1px solid #cccccc;
  display: inline-block;
  width: 32%;
}
.nav-toolbar li:last-child {
  border: medium none;
}
.nav-toolbar a {
  color: #999999;
  cursor: pointer;
  display: block;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 43px;
  padding: 0 10px;
  transition: all 0.3s ease;
  position:relative;
}
.nav-toolbar a img {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
}
.nav-toolbar a:hover, .nav-toolbar a.active {
  color:#00a1f0;
}
.nav-toolbar a.active::after {
  content: "\E870";
  font-family: "Linearicons-Free";
  position: absolute;
  right: 5px;
  top: 0;
  color:red;
}
[data-popup-content] {
  background: #ffffff none repeat scroll 0 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  display: none;
  padding: 5px;
  width: auto;
}
[data-popup-content].active{display:block;}
.side-list {
  display: inline-block;
}
.side-list li {
  display: inline-block;
  margin: 10px;
}
.side-list a {
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 3px;
  color: #333333;
  display: block;
  font-size: 0.8rem;
  text-align: center;
  transition: all 0.3s ease;
}
.side-list li a:hover {
  border-color: rgba(0, 0, 0, 0.2);
}
.side-list li.current a {
  border-color: #00a1f0;
}
.side-list a img {
  display: block;
  vertical-align: middle;
  width: 90px;
}