body{background:#F5F7F6;}
a{color:#00a1f0;text-decoration:none;font-size: 0.9rem;}
canvas {    border: 1px solid #ccc;}
ul,ol{margin:0px;padding:0px;list-style:none;}
.clearfix{clear:both!important;line-height:normal;}
/* Buttons CSS */
.primary-button {
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
	-o-border-radius:2px;
	border-radius:2px;
	border-style:solid;
	cursor:pointer;
	line-height:1;
	border-width:1px;
	display:inline-block;
	text-decoration:none;
	border:1px solid #00A1F0;
	color:#ffffff !important;
	background-color:#41c1ff;
	*zoom:1;
	filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#FF41C1FF',endColorstr='#FF00ABFF');
	background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQxYzFmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwYWJmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background-size:100%;
	background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#41c1ff),color-stop(100%,#00abff));
	background-image:-webkit-linear-gradient(top,#41c1ff 0%,#00abff 100%);
	background-image:-moz-linear-gradient(top,#41c1ff 0%,#00abff 100%);
	background-image:-o-linear-gradient(top,#41c1ff 0%,#00abff 100%);
	background-image:linear-gradient(top,#41c1ff 0%,#00abff 100%);
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.2);
	-moz-box-shadow:0 1px 2px rgba(0,0,0,0.2);
	box-shadow:0 1px 2px rgba(0,0,0,0.2);
	-webkit-border-radius:0.3em;
	-moz-border-radius:0.3em;
	-ms-border-radius:0.3em;
	-o-border-radius:0.3em;
	border-radius:0.3em;
	text-shadow:0 1px 1px #248AD0;
	font-family:'museosans',sans-serif;
	font-weight:bold;
	padding:9px;
	font-size:12px;
	text-align:center
}
.primary-button:hover {
	color:#fff;
	background-color:#009AE6;
	*zoom:1;
	filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#FF33BCFF',endColorstr='#FF009AE6');
	background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMzYmNmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMzYmNmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background-size:100%;
	background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#33bcff),color-stop(100%,#33bcff));
	background-image:-webkit-linear-gradient(top,#33bcff 0%,#33bcff 100%);
	background-image:-moz-linear-gradient(top,#33bcff 0%,#33bcff 100%);
	background-image:-o-linear-gradient(top,#33bcff 0%,#33bcff 100%);
	background-image:linear-gradient(top,#33bcff 0%,#33bcff 100%)
}
.primary-button:active {
	color:#fff;
	background-color:#33BCFF;
	*zoom:1;
	filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#FF00ABFF',endColorstr='#FF009AE6');
	background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYWJmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMzYmNmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background-size:100%;
	background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#00abff),color-stop(100%,#33bcff));
	background-image:-webkit-linear-gradient(top,#00abff 0%,#33bcff 100%);
	background-image:-moz-linear-gradient(top,#00abff 0%,#33bcff 100%);
	background-image:-o-linear-gradient(top,#00abff 0%,#33bcff 100%);
	background-image:linear-gradient(top,#00abff 0%,#33bcff 100%)
}
.primary-button.disabled {
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
	opacity: 0.6
}
.primary-button.small {
  padding: 5px;
}
.full {
  display: block;
  margin: 8px;
  width: auto;
}
/* Float:left-right-none */
.f-left{float:left!important;}
.f-right{float:right!important;}
.f-none{float:none!important;}
/*//TOP PAGE  */
.toppage {
  background: #ffffff none repeat scroll 0 0;
  border-top: 3px solid #2ea8e6;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  display: inline-block;
  left: 0;
  padding: 5px 0;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 100;
}
.sitelogo {
  margin-left: 5px;
  max-width: 400px;
  width: 40%;
}
.sitelogo img {
  max-width: 100%;
}
.help-info{margin-right:5px;}
.top-menu-item {
  margin: 0;
  padding: 0;
}
.top-menu-item li:first-child {margin-left:0px;}
.top-menu-item li {
  display: inline-block;
  line-height: 40px;
  margin-left: 18px;
  position: relative;
}
.top-menu-item li a {
  color: #00a1f0;
  font-size: 0.8rem;
  font-weight: normal;
  line-height: 30px;
  text-decoration: none;
}
.tooltip-outline {
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #b6bcbf;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.14);
  display: none;
  position: absolute;
  text-align: center;
  top: 100%;
  width: 100%;
  z-index: 99;
}
.tooltip-outline.expanded{display:block;}
.tooptip-outline a{}
.tooltip-outline strong {
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
}
.tooltip-pointer::after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #999999;
    border-style: solid;
    border-width: 7px;
    content: "";
    height: 0;
    position: absolute;
    top: 0;
    width: 0;
}
.tooltip-pointer::before {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #ffffff;
  border-style: solid;
  border-width: 7px;
  content: "";
  height: 0;
  position: absolute;
  top: 1px;
  width: 0;
  z-index: 99;
}
.tooltip-pointer {
    background: #ff0000 none repeat scroll 0 0;
    border: 0 none;
    height: 0;
    left: auto;
    position: absolute;
    right: auto;
    top: -13px;
    width: 0;
}
/* //END TOPPAGE */
/* //TOOLBAR */
.toolbar {
  background: #ffffff none repeat scroll 0 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  display: inline-block;
  padding: 5px 0;
  position: relative;
  width: 100%;
  z-index: 2;
}
.nav-toggle {cursor:pointer;}
.nav-toggle span {
  display: block;
  font-size: 20px;
  line-height: 40px;
  padding: 0 5px;
}

.side-switcher {
  display: inline-block;
  width: 220px;
  padding: 0 5px;
  position: relative;
}
@media screen and (max-width: 767px) {
	.side-switcher {width:160px;}
}
.side-down {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  line-height: 40px !important;
  padding: 0 5px;
  position: absolute;
  right: 0;
  text-align: right;
  width: 95%;
  z-index: 98;
}
.side-down.small{width:auto;}
.side-switcher ul {
  background: #ffffff none repeat scroll 0 0;
  display: block;
  left: 0;
  line-height: 40px;
  list-style: outside none none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 100%;
  

}
.side-switcher ul.expanded{
	-moz-transition: height 250ms ease-in-out;
	-ms-transition: height 250ms ease-in-out;
	-o-transition: height 250ms ease-in-out;
	transition: height 250ms ease-in-out;
	-webkit-transition: height 250ms ease-in-out;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
   
}
.side-switcher ul.expanded > li {border-bottom: 1px solid rgba(0, 0, 0, 0.1);display:inline-block;}
.side-switcher ul.expanded > li:last-child {border-bottom: 0px solid rgba(0, 0, 0, 0.1);}
.side-switcher ul > li {
  display: none;
  text-align: center;
  width: 100%;
}
.side-switcher ul > li a{color:#000;}
.side-switcher ul > li.current {display:inline-block;}
.side-switcher ul > li.current a,.side-switcher ul > li:hover a{color:#00a1f0;}
/* Main actions such as Quote & Buy, Save design, Share design ..etc */
.main-actions {
  display: inline-block;
  padding: 0 5px;
  position: relative;
}
.main-actions ul {
  line-height: 40px;
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.action-down { 
	/*  Visible on smartphone  */
	display:none;
}
@media screen and (max-width:767px){
	.main-actions{width:170px;}
	.main-actions ul {
	  max-height: 40px;
	  overflow: hidden;
	}
	.main-actions ul.expanded {
	  background: #ffffff none repeat scroll 0 0;
	  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
	  display: block;
	  left: 0;
	  max-height: none;
	  padding: 0 5px;
	  position: absolute;
	  right: 0;
	  width: auto;
	}
	.main-actions ul.expanded > li:last-child {
		border-width: 0;
	}
	.main-actions ul.expanded > li {
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}
	.action-down {
	  background: rgba(0, 0, 0, 0) url("../images/squares.png") no-repeat scroll center center;
	  cursor: pointer;
	  height: 40px;
	  line-height: 40px;
	  position: absolute;
	  right: 0;
	  top: 0;
	  width: 30px;
	  display:block;
	}
	
}
.main-actions ul > li a{color:#000;}
.main-actions ul > li.current a,.main-actions ul > li:hover a{color:#00a1f0;}
.main-actions:after{}
/* //END Toolbar */
/* //MAIN VIEW (NG-VIEW) */
.mainContent {
  display: block;
  padding: 0;
  position: relative;
  z-index: 0;
}
.main-view {
  background: rgba(0, 0, 0, 0) url("../images/loading-logo.png") no-repeat scroll center center;
  display: inline-block;
  width: 100%;
}
.toolbox {
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  padding: 0 5px;
  position: relative;
  text-align: center;
}
/* Toolbox transform buttons*/
.canvas-btn {
    float: left;
}
.object-btn {
  float: right;
}
.toolbox-buttons {
    display: inline;
    margin: 0 auto;
}
.toolbox-buttons li {
  display: inline-block;
  padding: 0;
}

.toolbox-buttons li a:hover {
    border-color: rgba(0, 0, 0, 0.15);
    border-radius: 3px;
}
.toolbox-buttons li a {
    border: 1px dotted rgba(0, 0, 0, 0);
    cursor: pointer;
    display: inline-block;
    line-height: 30px;
    padding: 0 12px;
    position: relative;
}
.toolbox-buttons li a.disabled img { opacity: 0.3;}
.toolbox-buttons li a.disabled {
  pointer-events: none;
}
@media screen and (max-width: 450px){
.toolbox-buttons li a {padding:0px 8px;}
}
.toolbox-buttons li a img{}
.toolbox-buttons li a span {
  display: none;
}
/* Tooltip */
.toolbox-buttons li:hover a.disabled::after {background:#ccc;color:#666;}
.toolbox-buttons li:hover a::after {display:block;}
.toolbox-buttons li a::after {
    background: #00a1f0 none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    color: #ffffff;
    content: attr(title);
    display: none;
    font-size: 10px;
    font-weight: bold;
    left: 0;
    line-height: 20px;
    padding: 0 5px;
    position: absolute;
    right: auto;
    text-align: center;
    top: 32px;
    white-space: nowrap;
    z-index: 999;
}
/* //END Main View */
/* //BLOCK SIDEBAR */
/* //Block Left */
.block-sidebar-left {
  background: #ffffff none repeat scroll 0 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  float: left;
  min-height: 100%;
  left: 0;
  padding: 5px;
  position: absolute;
  top: 0;
  width: 150px;
  z-index: 999;
  left: -100%;
  opacity: 0;
}
.block-sidebar-left.expanded {
  left: 0;
  opacity: 1;
		-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	-o-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
	-webkit-transition: all 150ms ease-in-out;
}

/* Block Item price: subtotal price for an customized design */
.block-item-price {
  font-size: 12px;
  line-height: 30px;
  padding: 15px 0;
  text-align: center;
}
/* Block Design Template Library */
.block-design-template{}
.block-design-template h3 {
  background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
  border-bottom: 1px solid #cccccc;
  font-size: 1rem;
  font-weight: normal;
  line-height: 40px;
  text-align: center;
}
.block-design-template .block-content {
  display: block;
  position: relative;
}
.template-listing {
  display: block;
  margin: 5px 0 0;
  height: 300px;
  /* max-height: 300px; */
  width: 100%;
  position:relative;
}
.template-listing ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.template-listing ul li {
  display: inline-block;
  margin-bottom: 5px;
  position: relative;
}
.template-listing ul li a {
  border: 2px solid rgba(0, 0, 0, 0);
  display: block;
  position: relative;
}
.template-listing ul li a:hover,.template-listing ul li.current a {
  border: 2px solid #00a1f0;
  cursor: pointer;
}
.template-listing ul li a .item-price {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  color: #000000;
  cursor: pointer;
  font-size: 0.6rem;
  left: 3px;
  padding: 0 5px;
  position: absolute;
  top: 3px;
}
.template-listing ul li:hover{}
.instant-search {
  background: rgba(0, 0, 0, 0) url("../images/lnr-magnifier.svg") no-repeat scroll 3px center / 10% auto;
  display: block;
  font-size: 12px;
  line-height: 25px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 90%;
}
/* //Block Right */
.block-sidebar-right {
  background: #ffffff none repeat scroll 0 0;
  bottom: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  display: block;
  left: 0;
  line-height: 45px;
  padding: 10px 0;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 9999;
}
.block-plugins {
  padding: 0 5px;
}
.block-plugins ul {
  display: inline-block;
}
.block-plugins ul li {
  display: inline-block;
  line-height: 45px;
}
.block-plugins ul li a {
  cursor: pointer;
  display: block;
  line-height: 25px;
  padding: 0 15px;
  position: relative;
  text-align: center;
}
.block-plugins ul li a img{}
.block-plugins ul li a span {
  color: #000000;
  display: block;
  font-size: 1rem;
  font-weight: lighter;
  line-height: 20px;
  width: 100%;
}
.block-plugins ul li a.current::after,.block-plugins ul li:hover a::after {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 100%;
  box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.15);
  content: "";
  height: 65px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: -20px;
  width: 65px;
  z-index: -1;
}
.block-plugins ul li a.current,.block-plugins ul li a:hover{}
.block-plugins ul li.current a.current span, .block-plugins ul li a:hover span {
  color: #00a1f0;
}
/* //Plugin Content */
.plugin-content {
  background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
  bottom: 0;
  display: none;
  left: 0;
  padding: 15px 5px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
}
.plugin-content.current {
  display: block;
}
.plugin-content-popout {
  bottom: 8px;
  left: 8px;
  position: absolute;
  right: 8px;
  top: 8px;
  padding:0px;
}
.overlay-e {
  display: block;
  overflow: hidden;
  width: 100%;
}
@media screen and (max-width: 480px){
	.overlay-e {
	  height: 200px;
	}	
}
.preview {
  background: #333333 url("../images/preview.png") no-repeat scroll center top / cover  ;
  display: block;
  left: 0;
  padding: 8px;
  position: relative;
  right: 0;
  top: 0;
  visibility:hidden;
}
.preview-title {
  clear: both;
  position: relative;
  width: 100%;
}
.preview-title h3 {
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}
.preview-title span.close {
  cursor: pointer;
  line-height: 20px;
  padding: 0 10px;
  position: absolute;
  right: 0;
  top: 0;
}
.preview-object{}
.preview-object .object {
  text-align: center;
  width: 100%;
}
.preview-object .object img {
  max-height: 150px;
  max-width: 100%;
}
.object-actions {
  display: block;
  text-align: center;
}
/* Upload plugin */
.user-photo {
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
}
.upload-prv{}	
.plugin-tab {
  bottom: 0;
  position: absolute;
}
.plugin-tab ul {
  background: #00afd8 none repeat scroll 0 0;
  display: inline-block;
  padding: 5px 0;
  text-align: center;
  width: 100%;
}
.plugin-tab ul li {
  display: inline;
  padding: 0;
}
.plugin-tab ul li a {
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  padding: 0px 15px;
  position:relative;
}
.plugin-tab ul li a img{
  vertical-align: text-bottom;
  width: 20px;
}
.plugin-tab ul li a.current,.plugin-tab ul li:hover a{
	
}
.plugin-tab ul li a.current::after {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #ffffff;
  border-image: none;
  border-style: solid;
  border-width: 6px;
  bottom: -8px;
  content: "";
  display: block;
  height: 0;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  text-align: center;
  width: 0;
}
.plugin-tab ul li a .tab-label {
  font-size: 0;
  line-height: 25px;
  transition: all 0.1s ease 0s;
}
.plugin-tab ul li a.current .tab-label {
  font-size: 14px;
  transition: all 0.1s ease 0s;
}
.photo-tab-content {
  display: block;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.2s ease 0s;
  width: 100%;
}
.photo-tab-content.current {
  height: 100%;
  opacity: 1;
  transition: opacity 0.2s ease 0s;
}
