<div class="tab-content">
	<div class="form-col upload-promote" data-image-section="promote">
		<div class="form-group">
			<h3>Upload your own image, logo or artwork.</h3>
			<button type="button" class="primary-button medium"><span><span class="lnr lnr-cloud-upload"></span> Upload Now</span></button>
		</div>
	</div>
	<div class="form-col inline-tabs-action" data-image-section="actions">
		<div class="form-group">
		<ul class="action-text">
			<li><a class="current">Browse gallery</a></li>
			<li>|</li>
			<li><a>Upload your files</a></li>
			<li>|</li>
			<li><a>Edit</a></li>
			
		</ul>
		</div>
	</div>
	<div class="form-col browse-catalog" data-image-section="catalog">
		<div class="form-group">
		<h3>Browse artwork library</h3>
		
	</div>
	<div class="form-col search-gallery" data-image-section="search"></div>
	<div class="form-col browse-facebook" data-image-section="facebook"></div>
	<div class="form-col browse-instagram" data-image-section="instagram"></div>
	<div class="form-col browse-google" data-image-section="google"></div>
	<div class="form-col browse-google" data-image-section="qrcode"></div>
	<div class="form-col browse-google" data-image-section="google"></div>
</div>