<div class="plugin-content-popout">
	<div class="image-library">
		<div class="overlay-e close" data-close="imagelibrary"></div>
		<div class="plugin-tab">
			<ul>
				<li><a href="#" data-image="photos" class="current"><img src="assets/images/photo.svg" alt="" /> <span class="tab-label">Photo</span></a></li>
				<li><a href="#" data-image="cliparts"><img src="assets/images/game.svg" alt="" /> <span class="tab-label">Cliparts</span></a></li>
			</ul>
			<div class="photo-tab-content current" data-image-content="photos">
				<div><img src="assets/media/google-photo.jpg" alt="" width="100%"/></div>
			</div>
			<div class="photo-tab-content " data-image-content="cliparts">
				<div><img src="assets/media/facebook-photo.jpg" alt="" width="100%"/></div>
			</div>
			 
			
		</div>
	</div>
</div>