<div class="plugin-content-popout">
	<div class="image-library">
		<div class="overlay-e close" data-close="shape"></div>
		<div class="plugin-tab">
			<ul>
				<li><a href="#" data-shape="plaintext" class="current"><img src="assets/images/shapes.svg" alt="" /> <span class="tab-label">Shapes</span></a></li>
			</ul>
			<div class="photo-tab-content current" data-shape-content="plaintext">
				<div><img src="assets/media/shapes-photo.jpg" alt="" width="100%"/></div>
			</div>
		</div>
	</div>
</div>