<div class="plugin-content-popout">
	<div class="image-library">
		<div class="overlay-e close" data-close="text"></div>
		<div class="plugin-tab">
			<ul>
				<li><a href="#" data-text="plaintext" class="current"><img src="assets/images/plaintext.svg" alt="" /> <span class="tab-label">Plain text</span></a></li>
				<li><a href="#" data-text="curvetext"><img src="assets/images/curvetext.svg" alt="" /> <span class="tab-label">Curve text</span></a></li>
			</ul>
			<div class="photo-tab-content current" data-text-content="plaintext">
				<div><img src="assets/media/plaintext.jpg" alt="" width="100%"/></div>
			</div>
			<div class="photo-tab-content " data-text-content="curvetext">
				<div><img src="assets/media/curvetext.jpg" alt="" width="100%"/></div>
			</div>
			 
			
		</div>
	</div>
</div>