<div class="plugin-content-popout">
	<div class="image-library">
		<div class="overlay-e close" data-close="shape"></div>
		<div class="plugin-tab">
			<ul>
				<li><a href="#" data-shape="plaintext" class="current"><img src="assets/images/shapes.svg" alt="" /> <span class="tab-label">Shapes</span></a></li>
			</ul>
			<div class="photo-tab-content current" data-shape-content="plaintext">
				<div class="tab-content-filter">
					<img width="48px" src="assets/images/shape-album.svg" alt="" />
					<div class="filter-category">
						<select>
							<option>Select category</option>
							<option>Option 1</option>
							<option>Option 2</option>
							<option>Option 3</option>
							<option>Option 4</option>
							<option>Option 5</option>
							<option>Option 6</option>
							<option>Option 7</option>
							<option>Option 8</option>
							<option>Option 9</option>
							<option>Option 10</option>
						</select>
					</div>
					<div class="filter-search">
						<input type="text" placeholder="Search by tag name" />
					</div>
				</div>
				<div class="tab-container clearfix">
					<div class="ajax-pagination">
						<ul>
							<li><a class="current">1</a></li>
							<li><a>2</a></li>
							<li><a>3</a></li>
							<li><a>4</a></li>
							<li><a>5</a></li>
							<li><a>6</a></li>
							<li><a>7</a></li>
						</ul>
					</div>
					<div class="filter-results">
						<ul>
							<li><a><img src="assets/media/design-template.png" alt="" width="120px" height="120px" /><span class="item-price">Free</span></a></li>
							<li><a><img src="assets/media/design-template.png" alt="" width="120px" height="120px" /><span class="item-price">Free</span></a></li>
							<li><a><img src="assets/media/design-template.png" alt="" width="120px" height="120px" /><span class="item-price">Free</span></a></li>
							<li><a><img src="assets/media/design-template.png" alt="" width="120px" height="120px" /><span class="item-price">Free</span></a></li>
							<li><a><img src="assets/media/design-template.png" alt="" width="120px" height="120px" /><span class="item-price">Free</span></a></li>
							<li><a><img src="assets/media/design-template.png" alt="" width="120px" height="120px" /><span class="item-price">Free</span></a></li>
							<li><a><img src="assets/media/design-template.png" alt="" width="120px" height="120px" /><span class="item-price">Free</span></a></li>
							<li><a><img src="assets/media/design-template.png" alt="" width="120px" height="120px" /><span class="item-price">Free</span></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>