<div class="block-item-price clearfix">
	<span class="item-price"><strong>$12.5</strong> per item</span>
	<button type="button" class="primary-button medium"><span><span class="lnr lnr-arrow-right"></span> View Details</span></button>
</div>
<div class="block-design-template clearfix">
	<h3><span class="lnr lnr-store"></span> Design template</h3>
	<div class="block-content">
		<input type="text" class="instant-search" placeholder="Search design name" />
		<div class="template-listing simplebar" data-simplebar-direction="vertical">
			<ul>
				<li><a><img src="assets/media/design-template.png" alt="" /><span class="item-price">Free</span>
				</a></li>
				<li><a><img src="assets/media/design-template.png" alt="" /><span class="item-price">Free</span>
				</a></li>
				<li><a><img src="assets/media/design-template.png" alt="" /><span class="item-price">Free</span>
				</a></li>
				
			</ul>
		</div>
	</div>
</div>
<script type='text/javascript'>
$('.simplebar').simplebar();
</script>