<div>
<ul class="canvas-btn toolbox-buttons">
	<li><a title="Grid view"><img src="assets/images/software_layout_4boxes.svg" alt="On/Off grid view" width="16px" /> <span>Grid view</span></a></li>
	<li><a title="Ruler"><img src="assets/images/basic_pencil_ruler.svg" alt="On/Off Ruler" width="16px" /> <span>Ruler</span></a></li>
	<li><a title="Preview"><img src="assets/images/preview.svg" alt="Preview" width="16px" /> <span>Preview</span></a></li>
</ul>
<ul class="object-btn toolbox-buttons">
	<li><a title="Duplicate" class="disabled"><img src="assets/images/duplicate_copy.svg" alt="Duplicate" width="16px" /> <span>Duplicate</span></a></li>
	<li><a title="Reflect horizonal" class="disabled"><img src="assets/images/software_reflect_horizontal.svg" alt="Reflect horizontal" width="16px" /> <span>Reflect horizonal</span></a></li>
	<li><a title="Reflect vertical" class="disabled"><img src="assets/images/software_reflect_vertical.svg" alt="Reflect vertical" width="16px" /> <span>Reflect vertical</span></a></li>
	<li><a title="Send to front" class="disabled"><img src="assets/images/send-to-front.svg" alt="Send to front" width="16px" /> <span>Send to front</span></a></li>
	<li><a title="Send to back" class="disabled"><img src="assets/images/send-to-back.svg" alt="Send to back" width="16px" /> <span>Send to back</span></a></li>
	<li><a title="Delete" class="disabled"><img src="assets/images/basic_trashcan.svg" alt="Delete" width="16px" /> <span>Delete</span></a></li>
</ul>
</div>