<div class="clearfix">
	<div class="largedeviceonly">
		<div class="side-switcher f-left">
			<ul>
				<li class="current"><a href="#">Front</a></li>
				<li><a href="#">Back</a></li>
				<li><a href="#">Right</a></li>
				<li><a href="#">Left</a></li>
			</ul>
			<span class="side-down lnr lnr-chevron-down"></span>
		</div>
		<!-- <ul class="nav nav-vertical">
			<li><a href="#" title="Image">Image <span class="lnr lnr-chevron-down"></span></a>
				<ul class="sub-nav">
					<li><a href="#" data-plugin="" title="Upload Photo"><span class="lnr lnr-arrow-right"></span><span>Upload</span></a></li>
					<li><a title="Photo library"  data-plugin="imagelibrary"><span class="lnr lnr-arrow-right"></span><span>Photo library</span></a></li>
					<li><a title="Cliparts library"  data-plugin="imagelibrary"><span class="lnr lnr-arrow-right"></span><span>Cliparts library</span></a></li>
					<li><a title="Add shape"  data-plugin="shapes"><span class="lnr lnr-arrow-right"></span><span>Shape</span></a></li>
				</ul>
			</li>
			<li><a href="#" title="Text">Text <span class="lnr lnr-chevron-down"></span></a>
				<ul class="sub-nav">
					<li><a href="#" data-plugin="text" title="Plain text"><span class="lnr lnr-arrow-right"></span><span>Plain text</span></a></li>
					<li><a href="#" data-plugin="text" title="Plain text"><span class="lnr lnr-arrow-right"></span><span>Curves text</span></a></li>
					<li><a href="#" data-plugin="text" title="Plain text"><span class="lnr lnr-arrow-right"></span><span>Sewing text</span></a></li>
					
				</ul>
			</li>
			<li><a href="#" title="Image">Template <span class="lnr lnr-chevron-down"></span></a></li>
		</ul> -->
	</div>
	<div class="mediumdeviceonly">
	<div class="nav-toggle f-left"><span class="lnr lnr-menu"></span></div>
	
	<div class="block-plugins">
		<ul>
			<li><a title="Upload photo" data-plugin="upload"><img src="assets/images/lnr-camera.svg" width="24px" alt="" /><span>Upload</span></a></li>
			<li><a title="Add image"  data-plugin="imagelibrary"><img src="assets/images/lnr-picture.svg" width="24px" alt="" /><span>Image</span></a></li>
			<li><a title="Add shape"  data-plugin="shapes"><img src="assets/images/lnr-heart.svg" width="24px" alt="" /><span>Shape</span></a></li>
			<!-- <li><a title="Change Layout"  data-plugin="layout"><img src="assets/images/software_layout_header_4boxes.svg" width="24px" alt="" /><span>Layout</span></a></li> -->
			<li><a title="Add text" data-plugin="text"><img src="assets/images/software_font_size.svg" width="24px" alt="" /><span>Text</span></a></li>
		</ul>
	</div>
	</div>
	
</div>