<div class="clearfix">
	<div class="nav-toggle f-left"><span class="lnr lnr-menu"></span></div>
	<div class="side-switcher f-left">
			<ul>
				<li class="current"><a href="#">Front</a></li>
				<li><a href="#">Back</a></li>
				<li><a href="#">Right</a></li>
				<li><a href="#">Left</a></li>
			</ul>
		<span class="side-down lnr lnr-chevron-down"></span>
	</div>
	<div class="main-actions f-right">
		<ul class="">
			<li class="current"><a href="#" title="Quote &amp; Buy"><span class="lnr lnr-cart"></span> Quote &amp; Buy</a></li>
			<li><a href="#" title="Download design"><span class="lnr lnr-enter-down"></span> Download</a></li>
			<li><a href="#" title="Save &amp; Share customized design"><span class="lnr lnr-checkmark-circle"></span> Save</a></li>
		</ul>
		<span class="action-down"></span>
	</div>
</div>