<div class="plugin-content-popout">
	<div class="user-photo">
		<div class="preview upload-prv">
			<div class="preview-title"><h3>Preview</h3><span class="close" data-close="upload"><span class="lnr lnr-cross"></span></span></div>
			<div class="preview-object">
				<div class="object"><img src="assets/media/image-preview.png" alt="" /></div>
				<div class="object-actions"><button class="primary-button small"><span><span class="lnr lnr-checkmark-circle"></span>Add to design</span></button></div>
			</div>
		</div>
		<div class="user-photo-tab">
			<ul>
				<li><a href="#" data-photo="upload" class="current"><img src="assets/images/up-arrow.svg" alt="" /> <span class="tab-label">Upload</span></a></li>
				<li><a href="#" data-photo="googlephoto"><img src="assets/images/google-photo.svg" alt="" /> <span class="tab-label">Google</span></a></li>
				<li><a href="#" data-photo="facebookphoto"><img src="assets/images/facebookphoto.svg" alt="" /> <span class="tab-label">Facebook</span></a></li>
				<li><a href="#" data-photo="instagramfoto"><img src="assets/images/instagramfoto.svg" alt="" /> <span class="tab-label">Instagram</span></a></li>
				<li><a href="#" data-photo="flickrfoto"><img src="assets/images/flickrfoto.svg" alt="" /> <span class="tab-label">Flickr</span></a></li>
				<li><a href="#" data-photo="customurl"><img src="assets/images/custom-url.svg" alt="" /> <span class="tab-label">Custom Url</span></a></li>
			</ul>
			<div class="photo-tab-content current" data-photo-upload="upload">
				<div>Upload form</div>
			</div>
			<div class="photo-tab-content" data-photo-upload="googlephoto">
				<div>Googlephoto form</div>
			</div>
			<div class="photo-tab-content" data-photo-upload="facebookphoto">
				<div>Facebookphoto form</div>
			</div>
			<div class="photo-tab-content" data-photo-upload="instagramfoto">
				<div>Instagram form</div>
			</div>
			<div class="photo-tab-content" data-photo-upload="flickrfoto">
				<div>Flickr form</div>
			</div>
			<div class="photo-tab-content" data-photo-upload="customurl">
				<div>Custom Url form</div>
			</div>
			
		</div>
	</div>
</div>