<div class="plugin-content-popout">
	<div class="user-photo">
		<div class="overlay-e close" data-close="upload"></div>
		<!--div class="preview upload-prv">
			<div class="preview-title"><h3>Preview</h3><span class="close" data-close="upload"><span class="lnr lnr-cross"></span></span></div>
			<div class="preview-object">
				<div class="object"><img src="assets/media/image-preview.png" alt="" /></div>
				<div class="object-actions"><button class="primary-button small"><span><span class="lnr lnr-checkmark-circle"></span>Add to design</span></button></div>
			</div>
		</div-->
		<div class="plugin-tab">
			<ul>
				<li><a href="#" data-upload="upload" class="current"><img src="assets/images/up-arrow.svg" alt="" /> <span class="tab-label">Upload</span></a></li>
				<li><a href="#" data-upload="googlephoto"><img src="assets/images/google-photo.svg" alt="" /> <span class="tab-label">Google</span></a></li>
				<li><a href="#" data-upload="facebookphoto"><img src="assets/images/facebookphoto.svg" alt="" /> <span class="tab-label">Facebook</span></a></li>
				<li><a href="#" data-upload="instagramfoto"><img src="assets/images/instagramfoto.svg" alt="" /> <span class="tab-label">Instagram</span></a></li>
				<li><a href="#" data-upload="flickrfoto"><img src="assets/images/flickrfoto.svg" alt="" /> <span class="tab-label">Flickr</span></a></li>
				<li><a href="#" data-upload="customurl"><img src="assets/images/custom-url.svg" alt="" /> <span class="tab-label">Custom Url</span></a></li>
			</ul>
			<div class="photo-tab-content current" data-upload-content="upload">
				<a href="https://css-tricks.com/drag-and-drop-file-uploading/" target="_blank">
				<img width="100%" src="assets/media/drag-drop-upload-1.gif" alt="" />
				</a>
			</div>
			<div class="photo-tab-content" data-upload-content="googlephoto">
				<div class="tab-content-filter">
					<img width="48px" src="assets/images/google-album.svg" alt="" />
					<div class="filter-category">
						<select>
							<option>Select category</option>
							<option>Option 1</option>
							<option>Option 2</option>
							<option>Option 3</option>
							<option>Option 4</option>
							<option>Option 5</option>
							<option>Option 6</option>
							<option>Option 7</option>
							<option>Option 8</option>
							<option>Option 9</option>
							<option>Option 10</option>
						</select>
					</div>
					<div class="filter-search">
						<input type="text" placeholder="Search by tag name" />
					</div>
				</div>
				<div class="tab-container clearfix">
					<div class="ajax-pagination">
						<ul>
							<li><a class="current">1</a></li>
							<li><a>2</a></li>
							<li><a>3</a></li>
							<li><a>4</a></li>
							<li><a>5</a></li>
							<li><a>6</a></li>
							<li><a>7</a></li>
						</ul>
					</div>
					<div class="filter-results">
						<ul>
							<li><a><img src="assets/media/design-template.png" alt="" width="120px" height="120px" /><span class="item-price">Free</span></a></li>
							<li><a><img src="assets/media/design-template.png" alt="" width="120px" height="120px" /><span class="item-price">Free</span></a></li>
							<li><a><img src="assets/media/design-template.png" alt="" width="120px" height="120px" /><span class="item-price">Free</span></a></li>
							<li><a><img src="assets/media/design-template.png" alt="" width="120px" height="120px" /><span class="item-price">Free</span></a></li>
							<li><a><img src="assets/media/design-template.png" alt="" width="120px" height="120px" /><span class="item-price">Free</span></a></li>
							<li><a><img src="assets/media/design-template.png" alt="" width="120px" height="120px" /><span class="item-price">Free</span></a></li>
							<li><a><img src="assets/media/design-template.png" alt="" width="120px" height="120px" /><span class="item-price">Free</span></a></li>
							<li><a><img src="assets/media/design-template.png" alt="" width="120px" height="120px" /><span class="item-price">Free</span></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="photo-tab-content" data-upload-content="facebookphoto">
				<div class="tab-content-filter">
					<img width="48px" src="assets/images/facebook-album.svg" alt="" />
					<div class="filter-category">
						<select>
							<option>Your photo albums</option>
							<option>Option 1</option>
							<option>Option 2</option>
							<option>Option 3</option>
							<option>Option 4</option>
							<option>Option 5</option>
							<option>Option 6</option>
							<option>Option 7</option>
							<option>Option 8</option>
							<option>Option 9</option>
							<option>Option 10</option>
						</select>
					</div>
					<div class="filter-search">
						<input type="text" placeholder="Search by tag name" />
					</div>
				</div>
				<div class="tab-container clearfix">
					<div class="ajax-pagination">
						<ul>
							<li><a class="current">1</a></li>
							<li><a>2</a></li>
							<li><a>3</a></li>
							<li><a>4</a></li>
							<li><a>5</a></li>
							<li><a>6</a></li>
							<li><a>7</a></li>
						</ul>
					</div>
					<div class="filter-results">
						<ul>
							<li><a><img src="assets/media/design-template.png" alt="" width="120px" height="120px" /><span class="item-price">Free</span></a></li>
							<li><a><img src="assets/media/design-template.png" alt="" width="120px" height="120px" /><span class="item-price">Free</span></a></li>
							<li><a><img src="assets/media/design-template.png" alt="" width="120px" height="120px" /><span class="item-price">Free</span></a></li>
							<li><a><img src="assets/media/design-template.png" alt="" width="120px" height="120px" /><span class="item-price">Free</span></a></li>
							<li><a><img src="assets/media/design-template.png" alt="" width="120px" height="120px" /><span class="item-price">Free</span></a></li>
							<li><a><img src="assets/media/design-template.png" alt="" width="120px" height="120px" /><span class="item-price">Free</span></a></li>
							<li><a><img src="assets/media/design-template.png" alt="" width="120px" height="120px" /><span class="item-price">Free</span></a></li>
							<li><a><img src="assets/media/design-template.png" alt="" width="120px" height="120px" /><span class="item-price">Free</span></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="photo-tab-content" data-upload-content="instagramfoto">
				<div class="tab-content-filter">
					<img width="48px" src="assets/images/instagram-album.svg" alt="" />
					<div class="filter-category">
						<select>
							<option>Your photo albums</option>
							<option>Option 1</option>
							<option>Option 2</option>
							<option>Option 3</option>
							<option>Option 4</option>
							<option>Option 5</option>
							<option>Option 6</option>
							<option>Option 7</option>
							<option>Option 8</option>
							<option>Option 9</option>
							<option>Option 10</option>
						</select>
					</div>
					<div class="filter-search">
						<input type="text" placeholder="Search by tag name" />
					</div>
				</div>
				<div class="tab-container clearfix">
					<div class="ajax-pagination">
						<ul>
							<li><a class="current">1</a></li>
							<li><a>2</a></li>
							<li><a>3</a></li>
							<li><a>4</a></li>
							<li><a>5</a></li>
							<li><a>6</a></li>
							<li><a>7</a></li>
						</ul>
					</div>
					<div class="filter-results">
						<ul>
							<li><a><img src="assets/media/design-template.png" alt="" width="120px" height="120px" /><span class="item-price">Free</span></a></li>
							<li><a><img src="assets/media/design-template.png" alt="" width="120px" height="120px" /><span class="item-price">Free</span></a></li>
							<li><a><img src="assets/media/design-template.png" alt="" width="120px" height="120px" /><span class="item-price">Free</span></a></li>
							<li><a><img src="assets/media/design-template.png" alt="" width="120px" height="120px" /><span class="item-price">Free</span></a></li>
							<li><a><img src="assets/media/design-template.png" alt="" width="120px" height="120px" /><span class="item-price">Free</span></a></li>
							<li><a><img src="assets/media/design-template.png" alt="" width="120px" height="120px" /><span class="item-price">Free</span></a></li>
							<li><a><img src="assets/media/design-template.png" alt="" width="120px" height="120px" /><span class="item-price">Free</span></a></li>
							<li><a><img src="assets/media/design-template.png" alt="" width="120px" height="120px" /><span class="item-price">Free</span></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="photo-tab-content" data-upload-content="flickrfoto">
				<div class="tab-content-filter">
					<img width="48px" src="assets/images/flickr-album.svg" alt="" />
					<div class="filter-category">
						<select>
							<option>Your photo albums</option>
							<option>Option 1</option>
							<option>Option 2</option>
							<option>Option 3</option>
							<option>Option 4</option>
							<option>Option 5</option>
							<option>Option 6</option>
							<option>Option 7</option>
							<option>Option 8</option>
							<option>Option 9</option>
							<option>Option 10</option>
						</select>
					</div>
					<div class="filter-search">
						<input type="text" placeholder="Search by tag name" />
					</div>
				</div>
				<div class="tab-container clearfix">
					<div class="ajax-pagination">
						<ul>
							<li><a class="current">1</a></li>
							<li><a>2</a></li>
							<li><a>3</a></li>
							<li><a>4</a></li>
							<li><a>5</a></li>
							<li><a>6</a></li>
							<li><a>7</a></li>
						</ul>
					</div>
					<div class="filter-results">
						<ul>
							<li><a><img src="assets/media/design-template.png" alt="" width="120px" height="120px" /><span class="item-price">Free</span></a></li>
							<li><a><img src="assets/media/design-template.png" alt="" width="120px" height="120px" /><span class="item-price">Free</span></a></li>
							<li><a><img src="assets/media/design-template.png" alt="" width="120px" height="120px" /><span class="item-price">Free</span></a></li>
							<li><a><img src="assets/media/design-template.png" alt="" width="120px" height="120px" /><span class="item-price">Free</span></a></li>
							<li><a><img src="assets/media/design-template.png" alt="" width="120px" height="120px" /><span class="item-price">Free</span></a></li>
							<li><a><img src="assets/media/design-template.png" alt="" width="120px" height="120px" /><span class="item-price">Free</span></a></li>
							<li><a><img src="assets/media/design-template.png" alt="" width="120px" height="120px" /><span class="item-price">Free</span></a></li>
							<li><a><img src="assets/media/design-template.png" alt="" width="120px" height="120px" /><span class="item-price">Free</span></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="photo-tab-content" data-upload-content="customurl">
				<div><img src="assets/media/custom-url-photo.jpg" alt="" width="100%"/></div>
			</div>
			
		</div>
	</div>
</div>