<div class="plugin-content-popout">
	<div class="user-photo">
		<div class="overlay-e close" data-close="upload"></div>
		<!--div class="preview upload-prv">
			<div class="preview-title"><h3>Preview</h3><span class="close" data-close="upload"><span class="lnr lnr-cross"></span></span></div>
			<div class="preview-object">
				<div class="object"><img src="assets/media/image-preview.png" alt="" /></div>
				<div class="object-actions"><button class="primary-button small"><span><span class="lnr lnr-checkmark-circle"></span>Add to design</span></button></div>
			</div>
		</div-->
		<div class="plugin-tab">
			<ul>
				<li><a href="#" data-upload="upload" class="current"><img src="assets/images/up-arrow.svg" alt="" /> <span class="tab-label">Upload</span></a></li>
				<li><a href="#" data-upload="googlephoto"><img src="assets/images/google-photo.svg" alt="" /> <span class="tab-label">Google</span></a></li>
				<li><a href="#" data-upload="facebookphoto"><img src="assets/images/facebookphoto.svg" alt="" /> <span class="tab-label">Facebook</span></a></li>
				<li><a href="#" data-upload="instagramfoto"><img src="assets/images/instagramfoto.svg" alt="" /> <span class="tab-label">Instagram</span></a></li>
				<li><a href="#" data-upload="flickrfoto"><img src="assets/images/flickrfoto.svg" alt="" /> <span class="tab-label">Flickr</span></a></li>
				<li><a href="#" data-upload="customurl"><img src="assets/images/custom-url.svg" alt="" /> <span class="tab-label">Custom Url</span></a></li>
			</ul>
			<div class="photo-tab-content current" data-upload-content="upload">
				<a href="https://css-tricks.com/drag-and-drop-file-uploading/" target="_blank">
				<img width="100%" src="assets/media/drag-drop-upload-1.gif" alt="" />
				</a>
			</div>
			<div class="photo-tab-content" data-upload-content="googlephoto">
				<div><img src="assets/media/google-photo.jpg" alt="" width="100%"/></div>
			</div>
			<div class="photo-tab-content" data-upload-content="facebookphoto">
				<div><img src="assets/media/facebook-photo.jpg" alt="" width="100%"/></div>
			</div>
			<div class="photo-tab-content" data-upload-content="instagramfoto">
				<div><img src="assets/media/instagram-photo.jpg" alt="" width="100%"/></div>
			</div>
			<div class="photo-tab-content" data-upload-content="flickrfoto">
				<div><img src="assets/media/flickr-photo.jpg" alt="" width="100%"/></div>
			</div>
			<div class="photo-tab-content" data-upload-content="customurl">
				<div><img src="assets/media/custom-url-photo.jpg" alt="" width="100%"/></div>
			</div>
			
		</div>
	</div>
</div>